<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FF14价格收藏</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/theme-chalk/index.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css?v=1" />
  </head>

  <body>
    <el-container class="app" id="app" style="display: none">
      <el-header class="header">FF14价格速查</el-header>
      <el-main class="main">
        <!-- 选择区服 -->
        <el-select
          class="select-dc"
          v-model="dc"
          placeholder="请选择区服"
          @change="handleDcChange"
        >
          <el-option
            v-for="(value,key) in dcs"
            :key="key"
            :label="value"
            :value="key"
            :class="['LuXingNiao','MaoXiaoPang','MoGuLi'].includes(key) ? 'dcm': ''"
          >
          </el-option> </el-select
        ><!-- 选择区服 end -->
        <el-tabs v-model="activeIndex" @tab-click="handleTabChange">
          <!-- 价格查询 -->
          <el-tab-pane label="价格查询" name="seachPrice">
            <el-container>
              <!-- 搜索物品 -->
              <el-autocomplete
                class="search-input"
                ref="searchInput"
                v-model="searchItemName"
                :fetch-suggestions="searchItem"
                placeholder="请输入物品名称"
              >
                <i class="el-icon-search el-input__icon" slot="suffix"> </i>
                <template slot-scope="{ item }">
                  <div class="search-res-item" v-on:click="searchPrice(item)">
                    <el-image
                      class="search-res-image"
                      style="height: 100%"
                      :src="host + item.Icon"
                    ></el-image
                    ><span class="search-res-info"> {{ item.Name }} </span>
                  </div>
                </template>
              </el-autocomplete>
            </el-container>
            <!-- tags -->
            <el-main v-loading="loading_searchPrice">
              <el-tag
                class="tag"
                v-for="(item, index) in tags"
                :key="index"
                @click="searchTag(item)"
                >{{item}}</el-tag
              >
              <div
                class="search-res-item"
                style="justify-content: flex-start; margin: 20px 0"
                v-if="searchPriceItem.id"
              >
                <el-image
                  :src="host + searchPriceItem.icon"
                  style="vertical-align: middle"
                >
                </el-image>
                <a :href="wikiUrl + searchPriceItem.name"  target="_blank">
                  <span class="search-res-info">
                    {{ searchPriceItem.name }}
                  </span>
                </a>
                <!-- <span
                  class="search-res-star"
                  title="放入收藏夹"
                  v-on:click.stop="collectItem(searchPriceItem.id)"
                  ><i
                    :class="favIds.includes(searchPriceItem.id) ? 'el-icon-star-on': 'el-icon-star-off'"
                  ></i
                ></span> -->
              </div>
              <!-- 价格统计 -->
              <el-row :gutter="20" v-if="searchPriceRes.all.average > 0">
                <el-col :xs="{span:24}" :md="{span:8}">
                  <price-show
                    :data="searchPriceRes.all"
                    title="ALL"
                  ></price-show>
                </el-col>
                <el-col :xs="{span:24}" :md="{span:8}">
                  <price-show :data="searchPriceRes.nq" title="NQ"></price-show
                ></el-col>
                <el-col :xs="{span:24}" :md="{span:8}">
                  <price-show :data="searchPriceRes.hq" title="HQ"></price-show>
                </el-col>
              </el-row>
            </el-main>
            <!-- 价格列表 -->
            <template v-if="searchPriceItem && searchPriceItem.id">
              <el-row :gutter="20" v-loading="loading_searchPrice">
                <el-col :xs="{span:24,offset:0}" :md="{span:12}">
                  <div class="grid-content bg-purple">
                    <el-container>购买记录</el-container>
                    <price-table
                      :data="searchPriceRes.history"
                      time-text="购买时间"
                      name-text="玩家名"
                      :dc="dc"
                    ></price-table>
                  </div>
                </el-col>
                <el-col :xs="{span:24,offset:0}" :md="{span:12}">
                  <div class="grid-content bg-purple">
                    <el-container>交易板价格</el-container>
                    <price-table
                      :data="searchPriceRes.listings"
                      time-text="上报时间"
                      name-text="雇员名"
                      :dc="dc"
                    >
                    </price-table>
                  </div>
                </el-col>
              </el-row>
            </template>
            <!-- 价格列表 end -->
          </el-tab-pane>
          <!-- 价格查询 end -->
          <!-- <el-tab-pane label="收藏夹" name="2" :lazy="true">收藏夹</el-tab-pane> -->
          <el-tab-pane label="四期重建成本" name="rebuild4" :lazy="true">
            <build4 :dc="dc"> </build4>
          </el-tab-pane>
          <el-tab-pane label="四期重建奖励" name="rebuild4Reward" :lazy="true">
            <price-list-by-name :names="rebuild4Reward" :dc="dc" :host="host" />
          </el-tab-pane>
          <el-tab-pane label="常用染剂" name="Dye" :lazy="true">
            <price-list-by-name :names="Dyes" :dc="dc" :host="host" />
          </el-tab-pane>
          <el-tab-pane label="魔晶石" name="stones" :lazy="true">
            <price-list-by-name :names="stones" :dc="dc" :host="host" />
          </el-tab-pane>
        </el-tabs>
      </el-main>
      <el-footer class="footer">
        v1.0
        <el-link type="primary" href="https://github.com/CheshireJCat/ff14price"
          >GitHub</el-link
        >
        <el-link type="primary" href="https://universalis.app/"
          >Universalis.app</el-link
        >
        <el-link type="primary" href="https://cafemaker.wakingsands.com"
          >CafeMaker
        </el-link>
      </el-footer>
    </el-container>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/index.min.js"></script>
    <script src="config.build4.js?v=1"></script>
    <script src="config.names.js?v=1"></script>
    <script src="main.js?v=2"></script>
  </body>
</html>
