body {
  margin: 0;
  background-color: rgb(84, 92, 100);
}
a,
a:visited {
  color: #198fee;
  text-decoration: none;
}
.app {
  max-width: 1000px;
  margin: 0 auto;
}
.search-input {
  width: 100%;
}
.search-res-item {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.search-res-info {
  flex: 1;
  margin: 0 4px;
}
.search-res-star {
  margin-left: 8px;
  cursor: pointer;
}
.dcm {
  background-color: #eee;
}

@media (max-width:768px){
  .timestamp{
    display: block;
  }
}
