::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

body {
  margin: 0;
  background-color: rgb(84, 92, 100);
  color: #fefefe;
}
a,
a:visited {
  color: #c6c7c8;
  text-decoration: none;
}
.app {
  margin: 0 auto;
}
.header {
  line-height: 60px;
}
.main {
  min-height: calc(100vh - 120px);
  padding-top: 0;
  padding-bottom: 0;
}
.footer {
  text-align: center;
}
.footer a {
  margin-left: 10px;
}
.refresh {
  position: absolute;
  top: 10px;
  left: 8px;
  color: #999;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
}
.select-dc {
  position: absolute;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  right: 20px;
  top: 10px;
  width: 120px;
}

.el-table th,
.el-table tr {
  background-color: #4b4b4b;
  color: #fff;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #666;
}
.el-table tr:hover a {
  color: #000;
}
.el-table__expand-icon {
  color: #fff;
}

.search-input {
  width: 100%;
}
.search-res-item {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.search-res-info {
  margin: 0 4px;
}
.flex-1 {
  flex: 1;
}
.search-res-star {
  margin-left: 8px;
  cursor: pointer;
}
.dcm {
  background-color: #eee;
}

.el-icon-star-on,
.el-icon-star-off {
  font-size: 24px;
  vertical-align: sub;
  position: relative;
  top: -1px;
}
.el-icon-star-on {
  color: #fed45d;
}

.tag {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.priceRes {
  width: 50%;
}

.price-show-num {
  display: inline-block;
}

.el-tabs__item {
  color: #fff;
}

.el-table__expanded-cell {
  padding: 10px 20px !important;
}

.el-col {
  margin: 10px 0;
}

.el-tabs__item.is-active,
.el-tabs__item:hover,
.el-tabs__active-bar {
  color: #ffd04b;
}
.el-tabs__active-bar {
  background-color: #ffd04b;
}

@media (max-width: 768px) {
  .timestamp {
    display: block;
  }
  .mobile-hide {
    display: none!important;
  }
}
.tag-header {
  height: 36px;
  line-height: 36px;
}

@media (min-width: 768px) {
  .rich-area > .el-tabs__header,
  .rich-area > .el-tabs__content {
    height: calc(100vh - 200px) !important;
  }

  .rich-area .el-tabs__nav-wrap {
    padding: 0 !important;
  }

  .rich-area .el-tabs__nav-prev,
  .rich-area .el-tabs__nav-next,
  .rich-area .el-tabs__active-bar {
    display: none;
  }

  .rich-area .el-tabs__nav-wrap::after {
    display: none !important;
  }

  .rich-area .el-tabs__nav-scroll,
  .rich-area > .el-tabs__content {
    overflow: auto;
  }

  .rich-tab-item {
    width: 500px;
    text-align: center;
  }


  .rich-area .el-tabs__item {
    height: 280px;
    margin: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .rich-area .el-tabs__item.is-active {
    background-color: #434546;
  }

  .rich-area .rich-tab-name {
    line-height: 30px;
  }

  .rich-area .rich-tab-thumb {
    width: 100%;
    height: 215px;
  }
  .rich-area .rich-tab-thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

.rich-tab .el-container {
  position: relative;
}